<a href="https://colab.research.google.com/github/SeongWoong-Hong/TA_session/blob/master/PythonBasic/PythonBasic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basic 1**

This cource based on the Python so briefly introduce the basic concept of the Python first.

The expert knowledge about Python is not mandatory. You can take this course whenever have only basic knowledge of Python.

## **1. Number**

### **Type of number data**

There are some types of number data in Python. They are int, float and complex.

In [ ]:
print(5, 5.0, 5+3j)

You can use the `type()` function to know which class a variable or a value belongs to.

In [ ]:
print(type(5), type(5.0), type(5+3j))

### **Basic calculation using Python**

You can do some basic calculation using `+`, `-`, `*` and `/`.

Also, obviously, you can control the order of calculation by using `(`, `)`. Please take some practice in the code cell below.

In [ ]:
## please do some practice in here! ex. 4 + 3 * 6 = 22
17 + 3

Also there are some additional operator.

You can use ** for power operation, % for remainder and // for share operation.

In [ ]:
print(7 ** 3, 7 % 3, 7 // 3)

## **2. String**

Strings are small pieces of text that you can use in your programs. You can simply write some text in quotes to create strings.

You can use either single or double quotes.

In [ ]:
print("hello")
print('hello')

print("""
hello
This cource is
ME491
""")

print('''
hello
This cource is
ME491
''')

## **3. Variables**

Variables are nothing but point to values. They can point any type of value data like int, string... etc.

In [ ]:
a = 1
b = 'string'

print(a, b)

You can also change the pointing value of the variables.

In [ ]:
a = 2
print(a)
a = a + 1
print(a)
a += 1
print(a)
b *= 3
print(b)

You can use `+=`, `-=`, `*= `and `/=` instead of `+`, `-`, `*` and `/`, like above `a += 1` instead of `a = a + 1`. Another operator, `**=`, `%=` or `//=` also work.

## **4. List**

List is used to storing multiple values. You can store any values of any types in one list(you can store list in list also).

In [ ]:
a = []
b = [1, 2, 3, 4, 5]
c = ['This', 'cource', 'is', 'ME491']
d = [1, 2, 'Good', 'Day']
e = [1, 2, ['Good', 'Day']]
print(a, b, c, d, e)

### **List Indexing**

In the list `a`, `a[0]` means the first component of the `a` and `a[-1]` indicate that the last component of the `a`.

This indexing is also used similarly in the string data type.

In [ ]:
a = [1, 2, 3, 4, 5]
b = "12345"
print(a[0], a[1], a[-1])
print(b[0], b[1], b[-1])

### **List Slicing**

Slicing means getting a part of the list. You can slice the list by using `:`

In [ ]:
print(a[0:2], a[0:-1], a[-3:-1])
print(a[:-2], a[1:])

### **List Expansion**

There are some functions that can modify list data type.

In [ ]:
# you can replace components of the list
a[4] = 6
print(a)
a[:2] = [10, 20]
print(a)

# you can print out the length of the list by using len() function
print(len(a))

# you can append the data to the list by using append() method.
a.append('bonus')
print(a)

# id() function returns the address of the variable
print(id(a))

When you copying the component of the variable, there are 2 ways.

1. make new variable that pointing same object with original variable
2. make new variable that pointing new object that has same contents with original one.

The example below, you may be easiliy understand what's the difference between two ways.

In [ ]:
list = [1, 2, 3, 4, 5]
list1 = list
list2 = list[:]
list.append(3)
print(list1)
print(list2)
print(id(list1))
print(id(list2))

## **5. Dictionary and Tuple**

### **Tuple**

Tuple data type is similar to the list type but there are two big differences.

1. list uses `[` and `]` but tuple uses `(` and `)`
2. You don't change the contents of the tuple.

In [ ]:
print(())
print((1,))
print((1, 2, 3))


Sometimes(mostly when the return value type is tuple) you will use tuple data type without `(` and `)`.

In [ ]:
a, b = (1, 2)
print(a, b)
(a, b) = (1, 2)
print(a, b)
a = (1, 2)
print(a)

### **Dictionary**

Dictionary has two components, key and value. You can assign specific `key` to each values and you can also access to each values by using their specific `key`.

In [ ]:
dic = {'name':'SW', 'number':123, 'family':['father', 'mother', 'sister']}
print(dic)
print(dic['name'])
print(dic['number'])
print(dic['family'])